/***** BASE STYLES *****/

body {
   font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #ffffff;
}

h1 {
    font-size: 2.25em;
    color: #193041;
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #03a9f4;
}

a {
    text-decoration: none;
    color:#205d84;
}

footer {
    text-align: center;
    padding-top: 1em;
}
