/*** BASE STYLES ***/

body {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1px;
    margin: 0 auto;
    background: #003fff;
}

h1 {
    color: black;
    font-size: 36px;
    margin-top: 10px;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-style: italic;
    margin-bottom: 5px;
}

footer {
    text-align: left;
    padding-top: 3px;
}
