body {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #efccff;
    width: 1200px;
    margin: 0 auto;
}

header a {
    color: #000000;
    font-weight: bold;
}

h1 {
    color: #a64dff;
}

h4 {
    color: #ffffff;
}

footer p {
    color: #a6a6a6;
}