body {
    font-size: 20px;
    padding: 1em;
    margin: 0 auto;
    background: #ccb6bb;
}

h1 {
    font-size: 40px;
    color: #f16059;;
    margin-top: 10px;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f16059;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: #f16059;
}   