body {background: black;
    color: #cc9900;
    font-family: 'Eagle Lake', 'Work Sans';
    width: auto;
}

p {
    font-size: 20px;
    font-family: 'Work Sans';
    margin-bottom: 0;
}

header h1 {
    font-family: 'Eagle Lake';
    font-size: 40px;
    margin-bottom: 60px;
}

h4 {
    font-size: 25px;
    font-style: italic;
}

.final-statement {
    margin: 60px auto 50px;
}
