/***** BASE STYLES *****/

body {
    color: #FFFF;
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    padding: 1em;
    margin: 0 auto;
    background: #1d0101;
}

h1 {
    font-size: 2.25em;
    color: rgb(250, 250, 250);
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color:rgb(250, 250, 250);
}

footer {
    text-align: center;
    padding-top: 1em;
}
