/***** Base Styles *****/

body {

    background-color: blueviolet;
    color:#2b2b2b;
    font-family:fantasy;

}

h1 {

    color: #0FF455;
    font-size: 24px;
}

h4 {

    color: #F40F51;
    font-size: 19px;
}


.highlight {


    color: #F4D10F;
}

footer {

    font-size: 10px;
    color:aquamarine;
}