body {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

header {
    background-image: url(https://images.pexels.com/photos/3975590/pexels-photo-3975590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
 
}
header a {
    text-decoration: none;
    color: #1d1a1a;
    padding-left: 101px;
}


header h1 {
    font-size: 60px;
    width: 35% !important;
    padding-left: 100px;
    padding-top: 100px;
    color: #1d1a1a;
}

section {
    background-color: #f7efe7;
}

/****** About Styles ******/
#advice .content-wrapper {
    padding: 80px 0;
}


#advice h4 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    letter-spacing: 2px;
}

#advice p {
    float: left;
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 50px;
}


footer {
    clear: both;
    text-align: center;
    color: #1d1a1a;
}
