body {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

header {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

footer {
  text-align: center;
  font-weight: bold;
}
