body {
    font-size: 18px;
    color: #996600;
    font-family: 'Quattrocento Sans', sans-serif;


}

h1,
h4 {
    font-family: 'Cabin Sketch', cursive;
}

h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

h2{
    font-size: 28px;    
}

img {
    width: 500px;
    height: 500px;
}

.header-image {
    float: left;
    text-align: center;
    font-size: 12px;
}

.advice {
    padding: 15px;
}