/***** BASE STYLES *****/

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(139, 200, 250);
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #faf5f5;
}

h1 {
    font-size: 20px;
    color: rgb(122, 89, 240);
    margin-top: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f15998;
}

a {
    text-decoration: none;
    color: #e3fa17;
}

footer {
    text-align: center;
    padding-top: 1em;
}
