/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #e5fafa;
    text-align: center;
}

.advice {
    border: 10px double #008f98;
    width: 1000px;
    margin: auto;
    background-color: #54cfd6;
}

h1 {
    font-size: 2.25em;
    color: #008f98;
    font-family: 'Amaranth';
    margin-top: 1em;
    text-align: center;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #e5fafa;
    font-family: 'Amaranth';
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #bb433d;
}

p {
    font-family: 'Montserrat';
    font-size: 16px;
}

footer {
    text-align: center;
    padding-top: 1em;
}
