body {
    background-color: mistyrose;
    width: 1200px;
}
h1 {
    font-family: 'Oswald', sans-serif;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
.skillcrush-advice p {
    font-family: 'Oswald', sans-serif;
}
