body {
    background: #ffeee6;
    color: #2f2e2e;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
}

span {
    font-family: 'Rochester', cursive;
    font-style: italic;
    font-size: 45px;
}

section {
    background: whitesmoke;
    padding: 10px;
    margin: 0 30px;
}

h4 {
    color: #2d8659;
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
}

p {
    color: #2f2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.advice {
    display: flex;
}

 .column {
    flex: 50%;
    padding: 15px;
    margin: 0 auto;    
} 

a {
    text-decoration: none;
    color: #2d8659;
}

footer {
    text-align: center;
    padding-top: 1em;
}