/***** BASE STYLES *****/

body {
    background-color: #f3ded9;
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0 auto;
    width: auto;
}

h1 {
    font-family: 'ccbiffbamboom', sans-serif;
    font-size: 60px;
    line-height: 50px;
    text-align: center;

}


h2 {
    font-size: 50px;
    line-height: 25px;
    text-align:center;
}

h1 span {
    color: yellow;
    font-size: 75px;
}



/***** PROBLEMS *****/

#headline {
    color: #d63434;
    background-color: white;
    height: 150px;
    text-align: center;
    padding-top: 4px;
}

#headline h1 span {
    color: black;
    font-size: 75px;
    font-family: 'ccbiffbamboomoutline', sans-serif;
}



#advice {
    box-sizing: border-box;
    height: 700px;
}

#advice img {
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#frustrated {
    box-sizing: border-box;
    color: black;
    height: 800px;
    background-color: yellow;
    padding-top: 25px;
    text-align: center;
}

#frustrated  h1{
    font-family: 'ccbiffbamboomoutline', sans-serif;
    font-size: 55px;
}

#frustrated h1 span {
    font-size: 70px;
    color: red;
}

#frustrated img {
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;

}
#scared {
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 800px;
    padding-top: 70px;
   
    
}

#scared h1 {
    color: white;
    text-align: center;

}
#scared p {
    font-family: 'Butcherman', cursive;
    color: red;
    font-size: 60px;
    text-align: center;
}

#scared img {
        display: block;
        height: 400px;
        margin-left: auto;
        margin-right: auto;

}


/***** THOUGHT BUBBLES *****/
.thought {
    display:flex;
    background-color: white;
    padding:25px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin: 40px 0 30px 500px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
.thought:before,
.thought:after {
    content:"";
    background-color:#fff;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
.thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #fff;
  }
  .thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #fff,
               -28px -6px 0 -2px #fff,
               -24px 17px 0 -6px #fff,
               -5px 25px 0 -10px #fff;
    
  }


/****** SOLUTION *****/
#solution {
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    
}

#solution h1 {
    color: #d63434;
}



#solution h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 25px;
    padding: 0 300px;
}


/***** FOOTER *****/

a {
    text-decoration: none;

}

footer {
    text-align: center;
    background-color: #ffffff;
    height: 75px;
    margin: 0 auto;
    padding: 25px;
}
