/**** BASE STYLES****/

Body{
    background: rgb(255, 255, 241);
    width: 1150px;
    margin: 0 auto;
    overflow:auto;
}

#headerBorder{
    border: 5px dotted rgb(203, 161, 130);
    margin: 20px 7px 0px 7px;
}

header h1{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color:rgb(43, 144, 87);  
    border-width:4px;
    border-style:dotted;
    border-color:rgb(203, 161, 130); 
    margin: 20px 25px;
    padding: 50px;
}

h4{
    font-family: "Source Sans 3", sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    color: rgb(176, 125, 89);
    margin-bottom: 0px;
    padding-left: 3px;
}

.sections{
    margin: 4px 7px;
}

#confusion{
    border-bottom: 1px solid seagreen;
    margin-top: 75px;
}

#disbelief{
    border-top: 1px solid seagreen;
    border-bottom: 1px double seagreen;
}

#continue{
    border-top: 1px double seagreen;
}

p{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 350;
}

footer p{
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: seagreen;
    margin-top: 50px;
}
