/*****Global Styles*****/
body {
    
    background: #FFFF99;
    font-family: "Shadows Into Light", cursive;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    width: 1200px;
    margin: 0 auto;
}

/*****Header Styles*****/
header {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    margin-top: 20px;
    width: 900px;
    height: 20px;
}

h1 {
    font-family: "Patrick Hand", cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    margin-top: 200px;
    width: 1000px;
}

img {
    float: left;
    margin-bottom: 0;
}

.content-wrapper {
    background-color: rgb(166, 235, 167);
    margin: 0 20px 15px;
    width: auto;
    height: auto;
    line-height: 32px;
    letter-spacing: 2px;
    float: left;
    margin-bottom: 30px;
    padding: 0 40px;
    border: 6px dotted #ed6adb;
    box-sizing: border-box;
   
}

.content-wrapper span {
    text-decoration: underline;
}

h2 {
    font-family: "Patrick Hand", cursive;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.believe {
    margin: 40px 20px;
    width: auto;
    line-height: 32px;
    letter-spacing: 2px;
    float: left;
    padding: 20px 10px;
    border: 6px solid #999999;
    box-sizing: border-box;
}

section {
    width: 1000px;
    margin: 0 auto;
}

footer {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    text-align: left;
    clear: both;
}