/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background-color: #9BDFC2;
    font-family: 'Hind', sans-serif;
}

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
    font-family: 'Fascinate', cursive;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f16059;
    font-family: 'Fascinate', cursive;
}

a {
    text-decoration: none;
    color: #bb433d;
    font-family: 'Fascinate', cursive;
}

footer {
    text-align: center;
    padding-top: 1em;
}
