.kristine-advice h1 {
  font-family: 'Satisfy', cursive;
  color: orange;
  font-size: 50px;
}
.advice p {
  font-family: 'Montserrat', sans-serif;
}

.advice h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}
