/***** BASE STYLES *****/

body {
  font-size: 16px;
  padding: 1em;
  margin: 0 auto;
  background: #f8f8c4;
}

h1 {
  font-size: 2.25em;
  color: #000;
  margin-top: 1em;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
  color: #7db719;
}

a {
  text-decoration: none;
  color: #707410;
}

footer {
  text-align: center;
  padding-top: 1em;
}

.autumn-color {color:coral; font-style: italic, bolder;
}