/***** BASE STYLES *****/

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin: 0 auto;
    background: #ffeee2;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    font-variant: all-small-caps;
    color: #9e4610ed;
    margin-top: 1em;
}

h4 {
    font-size: 25px;
    font-variant: all-small-caps;
    font-weight: 600;
    color: cadetblue;
}

a {
    text-decoration: none;
    color:black;
}

footer {
    text-align: center;
    padding-top: 1em;
}