/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #BFE9F7;
}


h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
    text-align: center;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #FF5733;
    text-align: center;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}
