/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #a3c2c2;
}

h1 {
    font-family: staatliches;
    font-size: 48px;
    color:#e67300;
    margin-top: 1em;
}

h4 {
    font-family: helvetica;
    font-size: 24px;
    font-weight: lighter;
    color: whitesmoke;
}
p{
    font-family: helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: gray;
}

a {
    font-family: staatliches; 
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    padding-top: 1em;
}
