/***** BASE STYLES *****/

body {
    font-size: 18px;
    padding: 1em;
    margin: 0 auto;
    background: #8FBC8F;
}

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #9932CC;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}