@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@300;400;500;600&display=swap");

:root {
  /* Font */
  --body-font: "Poppins", sans-serif;
  --header-font: "Raleway", sans-serif;
  /* Color */
  --bg-black-900: #f9f9fd;
  --bg-black-100: #fff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --text-cta: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--text-black-700);
  background-color: var(--bg-black-900);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advice {
  flex: 0 0 80%;
  width: 80%;
  margin: 0 auto;
}

section .advice {
  padding-top: 50px;
  padding-bottom: 70px;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: var(--text-black-900);
  font-size: 2rem;
  border-bottom: 1px dotted #c06c86;
}

h1 span {
  color: #c06c86;
}

h4 {
  font-size: 1.5rem;
}

#focus {
  color: #c06c86;
}

p {
  margin: 20px auto;
}
