/***** BASE STYLES *****/

body {
    font-size: 20px;
    padding: 1em;
    margin: 0 auto;
    background: #404040;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.25em;
    color: #ffffff;
    margin-top: 1em;
    border-bottom: 2px dotted #cc6600;
    text-align: center;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #cc6600;
    text-align: center;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}
