/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #f6fdc2;
}

h1 {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
}

span:first-of-type {
    font-family: 'Impact', sans-serif;
    text-decoration: overline;
}

span:last-of-type {
    font-family: 'Impact', sans-serif;
    text-decoration: underline;
}

h4 {
    font-family: 'Tahoma', sans-serif ;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f16059;
    text-align: center;
}

a {
    text-decoration: none;
    color: #bb433d;
}

footer {
    text-align: center;
    padding-top: 1em;
}