body {
    background: #46a7ab;
}

h1 {
    font-family: times;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border: 5px solid #d10fc4;
    color: #101010;
    width: 600px;
}
h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}