/***** BASE STYLES *****/

body {
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #ffffcc;
}

h1 {
    font-size: 2.25em;
    color: #333;
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffb3b3;
}

header a, h1, h4 {
    font-family: 'Staatliches', cursive;
}

p, footer {
    font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
    color: #66ffcc;
}

footer {
    text-align: center;
    padding-top: 1em;
    color: #66ffcc;
}
