body {
  background-color: #ecdfec;
}

header {
  color: white;
  font-family: 'Rock Salt', cursive;
}

section {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

footer {
  margin-top: 10px;
}
