body {
  background-color: #ecdfec;
}

header {
  background: url('../img/laptop.jpg');
  color: white;
  background-size: cover;
  background-position: cover;
  height: 400px;
  font-family: 'Rock Salt', cursive;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  padding-top: 130px;
  line-height: 60px;
  font-size: 50px;
}

.advice {
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 15px 15px 15px 15px;
}

h4 {
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}
