body {
    background-color: khaki;
    text-align: center;
    /* styled body for responsive centering of content*/
    display: inline-block;
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    font-size: larger;
    color: goldenrod;
    background-color: royalblue;
    border: 1px solid;
    padding: 5px;
    border-radius: 50px;
}

h4 {
    color: goldenrod;
    border: 1px solid;
    padding: 5px;
    border-radius: 50px;
    display: inline;
    background-color: royalblue;
}